#install4j response file for JIRA 5.2.9
#Sat Mar 30 23:28:52 UTC 2013
rmiPort$Long={{ rmiPort }}
app.{{ product }}Home=/var/atlassian/application-data/{{ product }}
app.install.service$Boolean=true
existingInstallationDir=/opt/atlassian/{{ product }}
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir=/opt/atlassian/{{ product }}
executeLauncherAction$Boolean=true
httpPort$Long={{ httpPort }}
portChoice=default
