[all:vars]
client_shortname={{ client_shortname }}

[dev]
{% if vagranthostonlyip is defined %}
{{ vagranthostonlyip }}
{% else %}
vagrant-box ansible_ssh_port=2222 ansible_ssh_host=127.0.0.1
{% endif %}

[dev:vars]
