# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant::Config.run do |config|
  config.vm.box = '{{ vagrantbox }}'
{% if vagrantboxurl is defined %}
  config.vm.box_url = '{{ vagrantboxurl }}'
{% endif %}

  # config.vm.boot_mode = :gui
{% if vagranthostonlyip is defined %}
  config.vm.network :hostonly, "{{ vagranthostonlyip }}"
{% endif %}
  # config.vm.forward_port 80, 8080
  # config.vm.share_folder "v-data", "/vagrant_data", "../data"
  # config.vm.customize ["modifyvm", :id, "--memory", 1024]

  config.vm.provision :ansible do |ansible|
    ansible.hosts = 'all'
    ansible.sudo = 'yes'
    ansible.playbook = 'playbook.yml'
    ansible.inventory_file = 'inventory.ini'
  end  

end
